div#introduction_year_value{
	display: inline;
	_display: inline;
}

div#introduction_month_value{
	display: inline;
	_display: inline;
}

div#introduction_day_value{
	display: inline;
	_display: inline;
}