<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>graduation_auth</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>o_user_login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
	<session-timeout>604800</session-timeout>
  </session-config>
  <filter>
    <display-name>FilterRoleTeacher</display-name>
    <filter-name>FilterRoleTeacher</filter-name>
    <filter-class>jp.bemax.se.graduation2011.auth.FilterRoleTeacher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterRoleTeacher</filter-name>
    <url-pattern>/FilterRoleTeacher</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FilterRoleStudent</display-name>
    <filter-name>FilterRoleStudent</filter-name>
    <filter-class>jp.bemax.se.graduation2011.auth.FilterRoleStudent</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterRoleStudent</filter-name>
    <url-pattern>/FilterRoleStudent</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>FilterRoleTeacher</filter-name>
    <url-pattern>/teacher/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterRoleTeacher</filter-name>
    <url-pattern>/teacher/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterRoleStudent</filter-name>
    <url-pattern>/student/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterRoleStudent</filter-name>
    <url-pattern>/student/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>  
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashCreate</display-name>
    <servlet-name>HashCreate</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.HashCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashCreate</servlet-name>
    <url-pattern>/HashCreate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>RegisteredConf</display-name>
    <servlet-name>RegisteredConf</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.RegisteredConf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredConf</servlet-name>
    <url-pattern>/RegisteredConf</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserID</display-name>
    <servlet-name>ChangeUserID</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ChangeUserID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserID</servlet-name>
    <url-pattern>/ChangeUserID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRole</display-name>
    <servlet-name>ChangeRole</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ChangeRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRole</servlet-name>
    <url-pattern>/ChangeRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeSubject</display-name>
    <servlet-name>ChangeSubject</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ChangeSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSubject</servlet-name>
    <url-pattern>/ChangeSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCourse</display-name>
    <servlet-name>ChangeCourse</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ChangeCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCourse</servlet-name>
    <url-pattern>/ChangeCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRole</display-name>
    <servlet-name>DeleteRole</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.DeleteRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRole</servlet-name>
    <url-pattern>/DeleteRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubject</display-name>
    <servlet-name>DeleteSubject</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.DeleteSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubject</servlet-name>
    <url-pattern>/DeleteSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourse</display-name>
    <servlet-name>DeleteCourse</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/DeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationInsert</display-name>
    <servlet-name>WrittenExaminationInsert</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationInsert</servlet-name>
    <url-pattern>/WrittenExaminationInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationList</display-name>
    <servlet-name>WrittenExaminationList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationList</servlet-name>
    <url-pattern>/WrittenExaminationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationMyList</display-name>
    <servlet-name>WrittenExaminationMyList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationMyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationMyList</servlet-name>
    <url-pattern>/WrittenExaminationMyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationDetailed</display-name>
    <servlet-name>WrittenExaminationDetailed</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationDetailed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationDetailed</servlet-name>
    <url-pattern>/WrittenExaminationDetailed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationDelete</display-name>
    <servlet-name>WrittenExaminationDelete</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationDelete</servlet-name>
    <url-pattern>/WrittenExaminationDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationChange</display-name>
    <servlet-name>WrittenExaminationChange</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationChange</servlet-name>
    <url-pattern>/WrittenExaminationChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationChangeStatus</display-name>
    <servlet-name>WrittenExaminationChangeStatus</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationChangeStatus</servlet-name>
    <url-pattern>/WrittenExaminationChangeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrittenExaminationChangeBefore</display-name>
    <servlet-name>WrittenExaminationChangeBefore</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.WrittenExaminationChangeBefore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrittenExaminationChangeBefore</servlet-name>
    <url-pattern>/WrittenExaminationChangeBefore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationInsert</display-name>
    <servlet-name>OralExaminationInsert</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationInsert</servlet-name>
    <url-pattern>/OralExaminationInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationList</display-name>
    <servlet-name>OralExaminationList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationList</servlet-name>
    <url-pattern>/OralExaminationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationMyList</display-name>
    <servlet-name>OralExaminationMyList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationMyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationMyList</servlet-name>
    <url-pattern>/OralExaminationMyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationDetailed</display-name>
    <servlet-name>OralExaminationDetailed</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationDetailed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationDetailed</servlet-name>
    <url-pattern>/OralExaminationDetailed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationDelete</display-name>
    <servlet-name>OralExaminationDelete</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationDelete</servlet-name>
    <url-pattern>/OralExaminationDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationChange</display-name>
    <servlet-name>OralExaminationChange</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationChange</servlet-name>
    <url-pattern>/OralExaminationChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationChangeStatus</display-name>
    <servlet-name>OralExaminationChangeStatus</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationChangeStatus</servlet-name>
    <url-pattern>/OralExaminationChangeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OralExaminationChangeBefore</display-name>
    <servlet-name>OralExaminationChangeBefore</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.OralExaminationChangeBefore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OralExaminationChangeBefore</servlet-name>
    <url-pattern>/OralExaminationChangeBefore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingInsert</display-name>
    <servlet-name>JoinMeetingInsert</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingInsert</servlet-name>
    <url-pattern>/JoinMeetingInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingList</display-name>
    <servlet-name>JoinMeetingList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingList</servlet-name>
    <url-pattern>/JoinMeetingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingMyList</display-name>
    <servlet-name>JoinMeetingMyList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingMyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingMyList</servlet-name>
    <url-pattern>/JoinMeetingMyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingDetailed</display-name>
    <servlet-name>JoinMeetingDetailed</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingDetailed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingDetailed</servlet-name>
    <url-pattern>/JoinMeetingDetailed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingDelete</display-name>
    <servlet-name>JoinMeetingDelete</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingDelete</servlet-name>
    <url-pattern>/JoinMeetingDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingChange</display-name>
    <servlet-name>JoinMeetingChange</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingChange</servlet-name>
    <url-pattern>/JoinMeetingChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingChangeStatus</display-name>
    <servlet-name>JoinMeetingChangeStatus</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingChangeStatus</servlet-name>
    <url-pattern>/JoinMeetingChangeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMeetingChangeBefore</display-name>
    <servlet-name>JoinMeetingChangeBefore</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.JoinMeetingChangeBefore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMeetingChangeBefore</servlet-name>
    <url-pattern>/JoinMeetingChangeBefore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportMyList</display-name>
    <servlet-name>ReportMyList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ReportMyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportMyList</servlet-name>
    <url-pattern>/ReportMyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportNewList</display-name>
    <servlet-name>ReportNewList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ReportNewList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportNewList</servlet-name>
    <url-pattern>/ReportNewList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorityNewReportList</display-name>
    <servlet-name>AuthorityNewReportList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.AuthorityNewReportList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityNewReportList</servlet-name>
    <url-pattern>/AuthorityNewReportList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCourse</display-name>
    <servlet-name>ListCourse</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.ListCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCourse</servlet-name>
    <url-pattern>/ListCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectAjax</display-name>
    <servlet-name>SubjectAjax</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.api.SubjectAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAjax</servlet-name>
    <url-pattern>/student/api/SubjectAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubjectAjax</servlet-name>
    <url-pattern>/teacher/api/SubjectAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubjectAjax</servlet-name>
    <url-pattern>/api/SubjectAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseAjax</display-name>
    <servlet-name>CourseAjax</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.api.CourseAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAjax</servlet-name>
    <url-pattern>/api/CourseAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAjax</display-name>
    <servlet-name>LoginAjax</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.api.LoginAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAjax</servlet-name>
    <url-pattern>/api/LoginAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyAjax</display-name>
    <servlet-name>CompanyAjax</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.api.CompanyAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyAjax</servlet-name>
    <url-pattern>/api/CompanyAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyTradeAjax</display-name>
    <servlet-name>CompanyTradeAjax</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.api.CompanyTradeAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyTradeAjax</servlet-name>
    <url-pattern>/api/CompanyTradeAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyFunction</display-name>
    <servlet-name>CompanyFunction</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.CompanyFunction</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>CompanyFunction</servlet-name>
    <url-pattern>/CompanyFunction</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>CompanyCreateAjax</display-name>
    <servlet-name>CompanyCreateAjax</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.api.CompanyCreateAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyCreateAjax</servlet-name>
    <url-pattern>/api/CompanyCreateAjax</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AuthorityReportList</display-name>
    <servlet-name>AuthorityReportList</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.AuthorityReportList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityReportList</servlet-name>
    <url-pattern>/AuthorityReportList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByCompany</display-name>
    <servlet-name>SearchByCompany</servlet-name>
    <servlet-class>jp.bemax.se.graduation2011.auth.SearchByCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByCompany</servlet-name>
    <url-pattern>/SearchByCompany</url-pattern>
  </servlet-mapping>
</web-app>